<ul class="list-unstyled">
    <li><button type="button" class="btn btn-lg btn-success timeout">Temps Mort</button><div>2</div></li>
    <li><button type="button" class="btn btn-lg btn-success replace">Remplacement</button><div>0</div></li>
</ul>
